
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}




#status
{
font-size: 18px;
}



body{
   background-position: center; 
   background-size: cover;
}


button{
    width: 20%;
    font-size: 35px;
}


canvas{
    border-radius: 30px;
    border:20px solid goldenrod;
}
